<div>
  <form class="px-4">
    <div class="form-group">
      <h2>send password reset request in Email</h2>
      <label for="emailAddress">Email address:</label>
      <input type="email" class="form-control" id="emailAddress" />
    </div>
    <div class="form-group float-right">
      <button class="btn btn-outline-secondary" (click)="activeModal.dismiss('cancel clicked')">Cancel</button>
      <button type="submit" class="btn btn-outline-primary" (click)="sendPasswordRequest()">Send Email</button>
    </div>
  </form>
</div>
