<form class="px-4 py-3">
  <div class="form-group">
    <label for="FormEmailAddress">Email Address</label>
    <input name="loginInput" type="text" [(ngModel)]="loginName" class="form-control" id="FormEmailAddress" />
  </div>
  <div class="form-group">
    <label for="FormPassword">Password</label>
    <input name="paswdInput" type="password" [(ngModel)]="password" class="form-control" id="FormPassword" />
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="rememberCheck" />
    <label for="rememberCheck">Remember Me</label>
  </div>
  <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
  <div class="dropdown-divider"></div>
  <button ngbDropdownItem (click)="openModal('forgot')">Forgot Password?</button>
  <button ngbDropdownItem (click)="openModal('register')">Register</button>
</form>
