<div>
  <form class="px-4">
    <div class="form-group">
      <label for="txtFirstName">First Name</label>
      <input type="text" class="form-control" id="txtFirstName" />
    </div>
    <div class="form-group">
      <label for="txtLastName">Last Name</label>
      <input type="text" class="form-control" id="txtLastName" />
    </div>
    <div class="form-group">
      <label for="txtNickName">Nick Name</label>
      <input type="text" class="form-control" id="txtNickName" />
    </div>
    <div class="form-group">
      <label for="dbBirth">Date of Birth</label>
      <input type="date" class="form-control" id="dtBirth" />
    </div>
    <div class="form-group">
      <label for="txtemail">E-mail address</label>
      <input type="email" class="form-control" id="txtEmail" />
    </div>
    <div class="form-group">
      <label for="txtpassword1">enter Password</label>
      <input type="password" class="form-control" id="txtPassword1" />
    </div>
    <div class="form-group">
      <label for="txtpassword2">confirm:</label>
      <input type="password" class="form-control" id="txtPassword2" />
    </div>
    <div class="form-group">
      <input type="checkbox" class="form-check-input" id="chkConsent" />
      <label for="chkConsent">I consent</label>
    </div>
    <div class="form-group float-right">
      <button class="btn btn-outline-secondary" (click)="activeModal.dismiss('cancel clicked')">Cancel</button>
      <button type="submit" class="btn btn-outline-primary" (click)="registerNewUser()">Register</button>
    </div>
</form>
</div>
